@import '@/styles/base/variables/breakpoints';
@import '@/styles/base/mixins/fonts';

.list {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0 2rem;
  overflow-x: scroll;
  list-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  @media (min-width: $size-desktop) {
    position: relative;
    padding: 0;
    overflow-x: unset;
    overflow-y: scroll;
    flex-direction: column;
    flex-wrap: nowrap;
    scroll-snap-type: y mandatory;
    height: 40.125rem;
  }


  &::-webkit-scrollbar{
    display: none;
  }

  li {
    min-width: calc(18.25rem + 1.5rem);
    margin-right: -0.5rem;
    padding-left: 1.5rem;
    scroll-snap-align: start;

    @media (min-width: $size-desktop) {
      width: 100%;
      margin-right: auto;
      padding-left: 0;
      padding-bottom: 1.5rem;
    }
  }

  a {
    height: 100%;
  }
}
