@import '@/styles/base/mixins/fonts';
@import '@/styles/base/variables/breakpoints';

.button {
  @include font-btn;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--color-gray-700);
  color: var(--color-gray-700);
  text-transform: uppercase;
  background-color: transparent;
  transition: 0.2s border-color ease, 0.2s background-color ease, 0.2s color ease;
  cursor: pointer;

  @media (min-width: $size-tablet) {
    width: auto;
    padding-right: 0.75rem;
    padding-left: 1rem;
  }

  &:hover {
    border-color: var(--color-gray-900);
    background-color: var(--color-gray-900);
    color: var(--color-red-300);
  }

  span {
    display: none;

    @media (min-width: $size-tablet) {
      display: block;
    }
  }
}