@import '../base/variables/breakpoints';

.main {
  @media (min-width: $size-desktop) {
    position: relative;
    max-width: 99.75rem;
    width: calc(100% - 3rem);
    margin-top: 6.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6875rem 0;
    border-radius: 0.5rem;
    background-image: var(--gradient-black);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      display: block;
      background-image: var(--gradient-black);
      border-radius: 0.5rem;
    }
  }

  &-wrapper {
    width: calc(100% - 3rem);
    max-width: $size-desktop;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $size-desktop) {
      width: 100%;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: $size-desktop;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 0;

  @media (min-width: $size-desktop) {
    display: grid;
    grid-template-areas: "header header" "banner list";
    grid-template-columns: 1fr auto;
    width: calc(100% - 6.75rem);
    transform: translateY(-2.3125rem);
    padding: 0;
  }
}

.header {
  grid-area: header;
}

.banner {
  grid-area: banner;
}

.list {
  grid-area: list;

  @media (min-width: $size-desktop) {
    position: relative;
    width: 20.4375rem;
  }
}
