@import '@/styles/base/mixins/fonts';
@import '@/styles/base/variables/breakpoints';

.header {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 1.375rem;
  background-color: var(--color-gray-800);

  &-title {
    @include font-section;
    flex: 1;
    text-transform: uppercase;
    color: var(--color-red-300);
  }

  &-actions {
    display: flex;
    gap: 1rem;
  }

  &-controls {
    display: none;

    @media (min-width: $size-desktop) {
      display: flex;
      gap: 1rem;
    }
  }

  button {
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.25);
  }
}