@import '@/styles/base/mixins/fonts';

.button {
  @include font-btn;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  border: 0;
  color: var(--color-red-100);
  background-color: var(--color-black);
  cursor: pointer;
  transition: 0.2s background-color ease, 0.2s opacity ease;

  &:hover {
    opacity: .5;
  }

  &:disabled {
    opacity: .3;
    pointer-events: none;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
