@mixin font-section {
  font-size: 1.75rem;
  line-height: 2.125rem;
}

@mixin font-feed-1 {
  font-size: 1.625rem;
  line-height: 1.875rem;
}

@mixin font-feed-2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@mixin font-feed-3 {
  font-size: 1rem;
  line-height: 1.375rem;
}

@mixin font-feed-4 {
  font-size: 0.875rem;
  line-height: 1.1875rem;
}

@mixin font-hat {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin font-btn {
  font-size: 0.875rem;
  line-height: 1rem;
}
