@import '@/styles/base/variables/breakpoints';
@import '@/styles/base/mixins/fonts';

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  overflow: hidden;

  &:hover  {
    @media (min-width: $size-tablet) {
      &::before {
        border: 0.3125rem solid var(--color-red-300);
      }

      .card-figure::after {
        background-color: var(--color-black-50);
      }

      .card-content__button {
        color: var(--color-red-300);
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: .25rem;
  }

  &-figure {
    width: 100%;
    aspect-ratio: 1/0.6233;

    @media (min-width: $size-tablet) {
      position: relative;
      aspect-ratio: unset;
      height: 12.75rem;
    }

    &::after {
      @media (min-width: $size-tablet) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--gradient-black-2);
        transition: 0.2s background-color ease;
      }
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--color-gray-800);
    height: 100%;

    @media (min-width: $size-desktop) {
      height: auto;
    }

    &__button {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: var(--color-white);

      svg {
        width: 2.0625rem;
        height: 2.0625rem;
      }
    }

    &__hat {
      @include font-hat;
      text-transform: uppercase;
      color: var(--color-red-300);
    }

    &__title {
      @include font-feed-3;
      color: var(--color-white);
    }

  }
}
