:root {
  --color-gray-100: #FAFAFA;
  --color-gray-300: #E9E9E9;
  --color-gray-500: #A8A8A8;
  --color-gray-700: #707070;
  --color-gray-800: #333333;
  --color-gray-900: #222222;
  --color-red-100: #F6D0D1;
  --color-red-300: #ED686B;
  --color-red-500: #EC1C24;
  --color-red-700: #9A0000;
  --color-red-900: #68181E;
  --color-white: #fff;
  --color-black: #000;
  --color-black-20: rgba(34, 34, 34, 0.2);
  --color-black-50: rgba(0, 0, 0, 0.5);

  --gradient-black: linear-gradient(136deg, #222 0, #2E2E2E 100%);
  --gradient-black-2: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
}