@import '@/styles/base/variables/breakpoints';
@import '@/styles/base/mixins/fonts';

.card {
  position: relative;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;

  &:hover  {
    @media (min-width: $size-tablet) {
      .card-figure::after {
        background-color: var(--color-black-50);
        box-shadow: inset 0 0 0 0.3125rem var(--color-red-300);
      }

      .card-content__button {
        color: var(--color-red-300);
      }
    }
  }

  &-figure {
    width: 100%;
    aspect-ratio: 1/0.5812;

    @media (min-width: $size-tablet) {
      position: relative;
      aspect-ratio: unset;
      height: 40.125rem;
    }

    &::after {
      @media (min-width: $size-tablet) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--gradient-black-2);
        transition: 0.2s background-color ease;
      }
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--color-gray-800);

    @media (min-width: $size-tablet) {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 3.125rem 2.625rem;
      background-color: transparent;
    }

    &__button {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: var(--color-white);

      @media (min-width: $size-tablet) {
        position: relative;
        top: 0;
        left: 0;
      }

      svg {
        width: 2.0625rem;
        height: 2.0625rem;

        @media (min-width: $size-tablet) {
          width: 3.75rem;
          height: 3.75rem;
        }
      }
    }

    &__hat {
      @include font-hat;
      text-transform: uppercase;
      color: var(--color-red-300);
    }

    &__title {
      @include font-feed-3;
      color: var(--color-white);

      @media (min-width: $size-tablet) {
        @include font-feed-1;
      }
    }

  }
}
