@import './mixins/all';
@import './variables/colors';
@import './variables/breakpoints';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

html,
body,
#__next {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  background-image: var(--gradient-black);

  @media (min-width: $size-desktop) {
    background-image: none;
    background-color: var(--white);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 55.47%;
      height: 35.5625rem;
      background-color: var(--color-gray-700);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}
